# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Entorno virtual
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Datos regenerables (descomentar si NO quieres incluir el dataset en el repo)
# data/dataset_maestro.csv
# data/reporte_bursatil.pdf
